/* Obecné styly */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* světle šedá */
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    text-decoration: underline;
}

/* Styly záhlaví */

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}

/* Styly sekcí */

section {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}

section h2 {
    font-size: 2em;
}

section p {
    font-size: 1.2em;
    line-height: 1.8;
    color: #666;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Styly kontaktních osob a formuláře */

.contact-person {
    margin-bottom: 20px;
}

.contact-person h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.contact-person p {
    font-size: 1.2em;
    color: #666;
    margin: 0;
}

.contact-form {
    margin-top: 40px;
}

.contact-form label {
    font-size: 1.2em;
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form input[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 4px;
}

.contact-form input[type="submit"]:hover {
    background-color: #23527c;
}

/* Styly zápatí */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 1.2em;
}
